examples/iot/bridge.json
[{"id":"d9f7fed6.c5726","type":"mqtt in","z":"fc396d6.caf999","name":"","topic":"unige/dibris/room328","qos":"2","broker":"9fff4b6e.7a9a28","x":160,"y":180,"wires":[["367408b0.1c9ac8"]]},{"id":"367408b0.1c9ac8","type":"json","z":"fc396d6.caf999","name":"","property":"payload","action":"","pretty":false,"x":390,"y":180,"wires":[["156dcd41.09ea2b","dc88a066.04c0d8"]]},{"id":"156dcd41.09ea2b","type":"ubidots_out","z":"fc396d6.caf999","name":"","token":"9qfgZxdldDAOE2xlQ1rRUV8ruvzQmG","label_device":"","device_label":"RPi","tier":"educational","x":730,"y":180,"wires":[]},{"id":"212c4522.88f782","type":"http in","z":"fc396d6.caf999","name":"","url":"/ubidots","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["4b75ae50.222f9","2900ea7c.eeedce"]]},{"id":"faae1530.8a6848","type":"mqtt out","z":"fc396d6.caf999","name":"","topic":"unige/dibris/room328/display","qos":"2","retain":"","broker":"9fff4b6e.7a9a28","x":1340,"y":260,"wires":[]},{"id":"4b75ae50.222f9","type":"http response","z":"fc396d6.caf999","name":"","statusCode":"","headers":{},"x":330,"y":660,"wires":[]},{"id":"2900ea7c.eeedce","type":"change","z":"fc396d6.caf999","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.command","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":540,"wires":[[]]},{"id":"dc88a066.04c0d8","type":"switch","z":"fc396d6.caf999","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"23","vt":"num"},{"t":"lte","v":"23","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":280,"wires":[["cb5b1eca.07fd68"],["3d160a19.1a9e16"]]},{"id":"cb5b1eca.07fd68","type":"change","z":"fc396d6.caf999","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'*,*,red'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":240,"wires":[["faae1530.8a6848"]]},{"id":"3d160a19.1a9e16","type":"change","z":"fc396d6.caf999","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"'*,*,blue'","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":300,"wires":[["faae1530.8a6848"]]},{"id":"5bcd2152.e36928","type":"comment","z":"fc396d6.caf999","name":"checks average temp threshold with ubidots","info":"GET request sent by Ubidots whenever the average temparature \nrises above or drops below a fixed threshold\n","x":220,"y":480,"wires":[]},{"id":"5fa7064d.c68fb","type":"comment","z":"fc396d6.caf999","name":"checks high/low temperature without ubidots","info":"GET request sent by Ubidots whenever the average temparature \nrises above or drops below a fixed threshold","x":800,"y":360,"wires":[]},{"id":"db789211.21ef5","type":"comment","z":"fc396d6.caf999","name":"command to be published with topic unige/dibris/room328/display","info":"","x":710,"y":480,"wires":[]},{"id":"26514c89.00559c","type":"comment","z":"fc396d6.caf999","name":"commands to be published with topic unige/dibris/room328/display","info":"","x":1150,"y":180,"wires":[]},{"id":"9fff4b6e.7a9a28","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
