examples/iot/gateway_to_ubidots.json
[{"id":"910685ae.fdc808","type":"tab","label":"Ubidots","disabled":false,"info":""},{"id":"107c1976.965337","type":"json","z":"910685ae.fdc808","name":"","property":"payload","action":"","pretty":false,"x":450,"y":180,"wires":[["8ac0e97.76c1518"]]},{"id":"b79d560f.eac7","type":"ubidots_out","z":"910685ae.fdc808","name":"","token":"9qfgZxdldDAOE2xlQ1rRUV8ruvzQmG","label_device":"","device_label":"RPi","tier":"educational","x":1010,"y":180,"wires":[]},{"id":"edfab7b9.b2eb18","type":"websocket in","z":"910685ae.fdc808","name":"from Rpi3","server":"6a17ccff.15a994","client":"","x":180,"y":180,"wires":[["107c1976.965337"]]},{"id":"1801a4cc.38989b","type":"debug","z":"910685ae.fdc808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1010,"y":320,"wires":[]},{"id":"8ac0e97.76c1518","type":"function","z":"910685ae.fdc808","name":"inject location","func":"let context={lat:44.4032645,lng:8.9729551,room:'SW1'}\nfor(let key in msg.payload)\n    msg.payload[key]={value:msg.payload[key],context:context}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":180,"wires":[["1801a4cc.38989b","b79d560f.eac7"]]},{"id":"6a17ccff.15a994","type":"websocket-listener","z":"","path":"/","wholemsg":"false"}]
