examples/iot/gateway.json
[{"id":"10f74f93.707d78","type":"tab","label":"Ubidots","disabled":false,"info":""},{"id":"5dbf5bc3.e4f1ac","type":"json","z":"10f74f93.707d78","name":"","property":"payload","action":"","pretty":false,"x":290,"y":160,"wires":[["ee95429a.d45698","1ac56aeb.94e815"]]},{"id":"ee95429a.d45698","type":"switch","z":"10f74f93.707d78","name":"","property":"payload.temperature","propertyType":"msg","rules":[{"t":"gt","v":"25.5","vt":"num"},{"t":"lte","v":"25.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":160,"wires":[["79054012.24c0d8"],["3520b783.ffb5b8"]]},{"id":"79054012.24c0d8","type":"change","z":"10f74f93.707d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":120,"wires":[["eec15125.8e16f"]]},{"id":"3520b783.ffb5b8","type":"change","z":"10f74f93.707d78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[["eec15125.8e16f"]]},{"id":"30bad03d.09334","type":"comment","z":"10f74f93.707d78","name":"checks high/low temperature without ubidots","info":"","x":620,"y":60,"wires":[]},{"id":"d478f539.5bc798","type":"comment","z":"10f74f93.707d78","name":"commands to be sent to the display","info":"","x":990,"y":60,"wires":[]},{"id":"aa2cca96.edb238","type":"websocket in","z":"10f74f93.707d78","name":"from Rpi3","server":"6a17ccff.15a994","client":"","x":100,"y":160,"wires":[["5dbf5bc3.e4f1ac"]]},{"id":"eec15125.8e16f","type":"websocket out","z":"10f74f93.707d78","name":"to Rpi3","server":"6a17ccff.15a994","client":"","x":1200,"y":140,"wires":[]},{"id":"1ac56aeb.94e815","type":"debug","z":"10f74f93.707d78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":320,"wires":[]},{"id":"6a17ccff.15a994","type":"websocket-listener","z":"","path":"/","wholemsg":"false"}]
