examples/iot/monitored_raspberry.json
[{"id":"e7a8912d.cfd5f","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"71becabf.25a224","type":"rpi-sensehat in","z":"e7a8912d.cfd5f","name":"","motion":false,"env":true,"stick":false,"x":160,"y":100,"wires":[["750691a4.ea499"]]},{"id":"750691a4.ea499","type":"websocket out","z":"e7a8912d.cfd5f","name":"to monitor","server":"","client":"6f14970e.b7b158","x":570,"y":100,"wires":[]},{"id":"29361e7d.5e3952","type":"websocket in","z":"e7a8912d.cfd5f","name":"from monitor","server":"","client":"6f14970e.b7b158","x":130,"y":220,"wires":[["232a8126.34f42e"]]},{"id":"a731ac70.78e5c8","type":"comment","z":"e7a8912d.cfd5f","name":"sends data to the monitor","info":"","x":570,"y":60,"wires":[]},{"id":"2a599c61.e6ebe4","type":"comment","z":"e7a8912d.cfd5f","name":"receives feedback from the monitor","info":"","x":160,"y":180,"wires":[]},{"id":"b9b5a072.505ea","type":"debug","z":"e7a8912d.cfd5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":220,"wires":[]},{"id":"232a8126.34f42e","type":"json","z":"e7a8912d.cfd5f","name":"","property":"payload","action":"","pretty":false,"x":350,"y":220,"wires":[["b9b5a072.505ea"]]},{"id":"6f14970e.b7b158","type":"websocket-client","z":"","path":"ws://10.251.61.71:80","tls":"","wholemsg":"false"}]
