examples/iot/raspberry.json
[{"id":"c870806e.a33f88","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"7cac6af9.cdfe6c","type":"rpi-sensehat in","z":"c870806e.a33f88","name":"","motion":false,"env":true,"stick":false,"x":210,"y":80,"wires":[["3d4f65da.ef8652"]]},{"id":"5d257270.610594","type":"rpi-sensehat out","z":"c870806e.a33f88","name":"","x":770,"y":580,"wires":[]},{"id":"613e38e7.9223d","type":"websocket out","z":"c870806e.a33f88","name":"to monitor","server":"","client":"6f14970e.b7b158","x":970,"y":80,"wires":[]},{"id":"4cbd6577.c9d494","type":"websocket in","z":"c870806e.a33f88","name":"from gateway","server":"","client":"b3f92126.b9b39","x":210,"y":580,"wires":[["5d257270.610594"]]},{"id":"7d594608.c961f8","type":"comment","z":"c870806e.a33f88","name":"sends data to the monitor","info":"","x":1010,"y":20,"wires":[]},{"id":"aa4477cf.b21978","type":"comment","z":"c870806e.a33f88","name":"receives commands from the gateway","info":"","x":290,"y":520,"wires":[]},{"id":"3813ce9d.808c42","type":"debug","z":"c870806e.a33f88","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"f6981ae9.8c5988","type":"debug","z":"c870806e.a33f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":440,"wires":[]},{"id":"248c1e4.433b162","type":"websocket in","z":"c870806e.a33f88","name":"from monitor","server":"","client":"6f14970e.b7b158","x":90,"y":340,"wires":[["a016d0f4.c56a1"]]},{"id":"a016d0f4.c56a1","type":"json","z":"c870806e.a33f88","name":"","property":"payload","action":"","pretty":false,"x":230,"y":340,"wires":[["6ac9fb39.9158b4","f6981ae9.8c5988"]]},{"id":"abe48c49.89b62","type":"comment","z":"c870806e.a33f88","name":"receives feedback from the monitor","info":"","x":160,"y":280,"wires":[]},{"id":"bd6179a4.41652","type":"websocket out","z":"c870806e.a33f88","name":"to gateway","server":"","client":"b3f92126.b9b39","x":1170,"y":340,"wires":[]},{"id":"fcc400bc.37b6b","type":"function","z":"c870806e.a33f88","name":"extracts data","func":"return {payload:msg.payload.data} // reset msg","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["bd6179a4.41652"]]},{"id":"5436c9d3.2d1f2","type":"comment","z":"c870806e.a33f88","name":"sends data to the gateway","info":"","x":1100,"y":280,"wires":[]},{"id":"3d4f65da.ef8652","type":"function","z":"c870806e.a33f88","name":"Inject timestamp (in seconds)","func":"msg.payload.timestamp=Date.now()/1000\nreturn msg","outputs":1,"noerr":0,"x":590,"y":80,"wires":[["613e38e7.9223d","3813ce9d.808c42"]]},{"id":"1015807a.a033a8","type":"inject","z":"c870806e.a33f88","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":"0","x":210,"y":740,"wires":[["d2432d03.2d459"]]},{"id":"d2432d03.2d459","type":"function","z":"c870806e.a33f88","name":"set clock event","func":"\nreturn {payload:{clock:msg.payload/1000}};","outputs":1,"noerr":0,"x":510,"y":740,"wires":[["613e38e7.9223d"]]},{"id":"8336ed87.605d6","type":"switch","z":"c870806e.a33f88","name":"filters out invalid data","property":"payload.error","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":340,"wires":[["fcc400bc.37b6b"]]},{"id":"6ac9fb39.9158b4","type":"switch","z":"c870806e.a33f88","name":"filters out clock events","property":"payload.data.clock","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":340,"wires":[["8336ed87.605d6"]]},{"id":"6f14970e.b7b158","type":"websocket-client","z":"","path":"ws://10.251.61.71:80","tls":"","wholemsg":"false"},{"id":"b3f92126.b9b39","type":"websocket-client","z":"","path":"ws://druidlab.dibris.unige.it:1880","tls":"","wholemsg":"false"}]
