examples/iot/raspberry.json
[{"id":"b35f6e9c.33925","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"45a4355a.d6c84c","type":"rpi-sensehat in","z":"b35f6e9c.33925","name":"","motion":false,"env":true,"stick":false,"x":210,"y":80,"wires":[["9b6ccd18.dc9d88","d619a58f.fa18b8"]]},{"id":"8af2d9d6.ca3f58","type":"rpi-sensehat out","z":"b35f6e9c.33925","name":"","x":770,"y":580,"wires":[]},{"id":"9b6ccd18.dc9d88","type":"websocket out","z":"b35f6e9c.33925","name":"to monitor","server":"","client":"6f14970e.b7b158","x":770,"y":80,"wires":[]},{"id":"58413df.fdd66c4","type":"websocket in","z":"b35f6e9c.33925","name":"from gateway","server":"","client":"b3f92126.b9b39","x":210,"y":580,"wires":[["8af2d9d6.ca3f58"]]},{"id":"d9899913.a8aec8","type":"comment","z":"b35f6e9c.33925","name":"sends data to the monitor","info":"","x":810,"y":20,"wires":[]},{"id":"2520e0d0.a2fa88","type":"comment","z":"b35f6e9c.33925","name":"receives commands from the gateway","info":"","x":290,"y":520,"wires":[]},{"id":"d619a58f.fa18b8","type":"debug","z":"b35f6e9c.33925","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":180,"wires":[]},{"id":"f94f1308.66eb68","type":"debug","z":"b35f6e9c.33925","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":440,"wires":[]},{"id":"49077846.f5f748","type":"websocket in","z":"b35f6e9c.33925","name":"from monitor","server":"","client":"6f14970e.b7b158","x":210,"y":340,"wires":[["d3e0a721.1165d"]]},{"id":"d3e0a721.1165d","type":"json","z":"b35f6e9c.33925","name":"","property":"payload","action":"","pretty":false,"x":410,"y":340,"wires":[["c82a997c.86828"]]},{"id":"2dc18d8a.7b0592","type":"comment","z":"b35f6e9c.33925","name":"receives feedback from the monitor","info":"","x":280,"y":280,"wires":[]},{"id":"c82a997c.86828","type":"switch","z":"b35f6e9c.33925","name":"filters out invalid data","property":"payload.error","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":340,"wires":[["60299e5c.29cc5"]]},{"id":"69947c13.8a259c","type":"websocket out","z":"b35f6e9c.33925","name":"to gateway","server":"","client":"b3f92126.b9b39","x":1150,"y":340,"wires":[]},{"id":"60299e5c.29cc5","type":"function","z":"b35f6e9c.33925","name":"extracts data","func":"return {payload:msg.payload.data} // reset msg","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["69947c13.8a259c","f94f1308.66eb68"]]},{"id":"ebd2075a.de2d48","type":"comment","z":"b35f6e9c.33925","name":"sends data to the gateway","info":"","x":1100,"y":280,"wires":[]},{"id":"6f14970e.b7b158","type":"websocket-client","z":"","path":"ws://10.251.61.71:80","tls":"","wholemsg":"false"},{"id":"b3f92126.b9b39","type":"websocket-client","z":"","path":"ws://druidlab.dibris.unige.it:1880","tls":"","wholemsg":"false"}]
