examples/iot/raspberry.json
[{"id":"e7a8912d.cfd5f","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"e45d6a3c.a95c5","type":"rpi-sensehat in","z":"e7a8912d.cfd5f","name":"","motion":false,"env":true,"stick":false,"x":210,"y":80,"wires":[["90378302.a2a85","3abdf1cc.e9edc6"]]},{"id":"9609ae06.15a2c8","type":"rpi-sensehat out","z":"e7a8912d.cfd5f","name":"","x":770,"y":440,"wires":[]},{"id":"90378302.a2a85","type":"websocket out","z":"e7a8912d.cfd5f","name":"to monitor","server":"","client":"6f14970e.b7b158","x":770,"y":80,"wires":[]},{"id":"17fdea55.c8eb96","type":"websocket in","z":"e7a8912d.cfd5f","name":"from gateway","server":"","client":"b3f92126.b9b39","x":210,"y":440,"wires":[["9609ae06.15a2c8"]]},{"id":"858a8e6.1bb437","type":"comment","z":"e7a8912d.cfd5f","name":"sends data to the monitor","info":"","x":810,"y":20,"wires":[]},{"id":"d8352967.30004","type":"comment","z":"e7a8912d.cfd5f","name":"receives commands from the gateway","info":"","x":290,"y":380,"wires":[]},{"id":"3abdf1cc.e9edc6","type":"debug","z":"e7a8912d.cfd5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":180,"wires":[]},{"id":"760f0029.a4357","type":"debug","z":"e7a8912d.cfd5f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":380,"wires":[]},{"id":"eb3bb588.b25c38","type":"websocket in","z":"e7a8912d.cfd5f","name":"from monitor","server":"","client":"6f14970e.b7b158","x":210,"y":280,"wires":[["2903ff24.18ba98"]]},{"id":"2903ff24.18ba98","type":"json","z":"e7a8912d.cfd5f","name":"","property":"payload","action":"","pretty":false,"x":410,"y":280,"wires":[["51059725.e27df8"]]},{"id":"82ee61e.4fb33a","type":"comment","z":"e7a8912d.cfd5f","name":"receives feedback from the monitor","info":"","x":280,"y":220,"wires":[]},{"id":"51059725.e27df8","type":"switch","z":"e7a8912d.cfd5f","name":"","property":"payload.error","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":280,"wires":[["a0828ad2.cb4ec"]]},{"id":"5e05dc0b.29b154","type":"websocket out","z":"e7a8912d.cfd5f","name":"to gateway","server":"","client":"b3f92126.b9b39","x":990,"y":280,"wires":[]},{"id":"a0828ad2.cb4ec","type":"function","z":"e7a8912d.cfd5f","name":"set msg.payload","func":"return {payload:msg.payload.data} // reset msg","outputs":1,"noerr":0,"x":770,"y":280,"wires":[["5e05dc0b.29b154","760f0029.a4357"]]},{"id":"6c690c37.23acb4","type":"comment","z":"e7a8912d.cfd5f","name":"sends data to the gateway","info":"","x":1040,"y":220,"wires":[]},{"id":"b63df699.0ef4c8","type":"comment","z":"e7a8912d.cfd5f","name":"filters out invalid data","info":"","x":580,"y":220,"wires":[]},{"id":"6f14970e.b7b158","type":"websocket-client","z":"","path":"ws://10.251.61.71:80","tls":"","wholemsg":"false"},{"id":"b3f92126.b9b39","type":"websocket-client","z":"","path":"ws://druidlab.dibris.unige.it:1880","tls":"","wholemsg":"false"}]
