examples/iot/RPi3_to_monitor.json
[{"id":"4f7d8e9e.a0b268","type":"tab","label":"websocket","disabled":false,"info":""},{"id":"e083fe65.7bf128","type":"rpi-sensehat in","z":"4f7d8e9e.a0b268","name":"","motion":false,"env":true,"stick":false,"x":210,"y":80,"wires":[["e1aff016.c6a548"]]},{"id":"67da0e11.9bfee","type":"rpi-sensehat out","z":"4f7d8e9e.a0b268","name":"","x":770,"y":580,"wires":[]},{"id":"19a284f5.89c3d3","type":"websocket out","z":"4f7d8e9e.a0b268","name":"to monitor","server":"","client":"6f14970e.b7b158","x":970,"y":80,"wires":[]},{"id":"bb281f4b.9bc11","type":"websocket in","z":"4f7d8e9e.a0b268","name":"from gateway","server":"","client":"b3f92126.b9b39","x":210,"y":580,"wires":[["67da0e11.9bfee"]]},{"id":"13b5ac37.46b1dc","type":"comment","z":"4f7d8e9e.a0b268","name":"sends data to the monitor","info":"","x":1010,"y":20,"wires":[]},{"id":"82cbd620.37b128","type":"comment","z":"4f7d8e9e.a0b268","name":"receives commands from the gateway","info":"","x":290,"y":520,"wires":[]},{"id":"4a99ca64.c0d6ec","type":"debug","z":"4f7d8e9e.a0b268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":180,"wires":[]},{"id":"14a9f414.cc48d4","type":"debug","z":"4f7d8e9e.a0b268","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":440,"wires":[]},{"id":"980049d0.86822","type":"websocket in","z":"4f7d8e9e.a0b268","name":"from monitor","server":"","client":"6f14970e.b7b158","x":90,"y":340,"wires":[["a59d26b5.89307"]]},{"id":"a59d26b5.89307","type":"json","z":"4f7d8e9e.a0b268","name":"","property":"payload","action":"","pretty":false,"x":230,"y":340,"wires":[["117f40f4.78ebc7","14a9f414.cc48d4"]]},{"id":"f4c97093.9dc71","type":"comment","z":"4f7d8e9e.a0b268","name":"receives feedback from the monitor","info":"","x":160,"y":280,"wires":[]},{"id":"e8863910.651f2","type":"websocket out","z":"4f7d8e9e.a0b268","name":"to gateway","server":"","client":"b3f92126.b9b39","x":1170,"y":340,"wires":[]},{"id":"bb651c3c.4ccf28","type":"function","z":"4f7d8e9e.a0b268","name":"extracts data","func":"return {payload:msg.payload.data} // reset msg","outputs":1,"noerr":0,"x":920,"y":340,"wires":[["e8863910.651f2"]]},{"id":"3c9d5c44.ebd374","type":"comment","z":"4f7d8e9e.a0b268","name":"sends data to the gateway","info":"","x":1100,"y":280,"wires":[]},{"id":"e1aff016.c6a548","type":"function","z":"4f7d8e9e.a0b268","name":"Inject timestamp (in seconds) and id","func":"msg.payload.timestamp=Date.now()/1000\nmsg.payload.id='room328'\nreturn msg","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["19a284f5.89c3d3","4a99ca64.c0d6ec"]]},{"id":"c23e9aef.93b288","type":"inject","z":"4f7d8e9e.a0b268","name":"","topic":"","payload":"","payloadType":"date","repeat":"0.1","crontab":"","once":true,"onceDelay":"0","x":210,"y":740,"wires":[["d4060c8f.267898"]]},{"id":"d4060c8f.267898","type":"function","z":"4f7d8e9e.a0b268","name":"set clock event","func":"\nreturn {payload:{clock:msg.payload/1000}};","outputs":1,"noerr":0,"x":510,"y":740,"wires":[[]]},{"id":"9b92defa.37d398","type":"switch","z":"4f7d8e9e.a0b268","name":"filters out invalid data","property":"payload.error","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":340,"wires":[["bb651c3c.4ccf28"]]},{"id":"117f40f4.78ebc7","type":"switch","z":"4f7d8e9e.a0b268","name":"filters out clock events","property":"payload.data.clock","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":340,"wires":[["9b92defa.37d398"]]},{"id":"6f14970e.b7b158","type":"websocket-client","z":"","path":"ws://10.251.61.71:80","tls":"","wholemsg":"false"},{"id":"b3f92126.b9b39","type":"websocket-client","z":"","path":"ws://druidlab.dibris.unige.it:1880","tls":"","wholemsg":"false"}]
